@(message: String)

@main("Welcome to Play") {
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Music Times</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-full"><div class="field-items"><div class="field-item even"> <p style="text-align:center;"><img src="http://appllio.com/sites/default/files/styles/article-center/public/field/image/google-play-music-radio.png?itok=XUxEtniy" width="360" height="200" alt="Google Play Music" title="Google Play Music" class="image-article-center"></p>
<p><a href="http://appllio.com/google">Google</a>は23日、有料で提供している音楽配信サービスの一部機能を広告付きで無料公開することを発表しました。今月末に開始される<a href="http://appllio.com/tags/apple-music">Apple Music</a>に対抗します。</p>
<p>新たに無料公開されるのは、現在月額9.99ドルで利用できる「Google Play Music All Access」の中のラジオステーション機能。音楽の専門チームが楽曲をキュレーションし、ジャンルやムード、時代などの軸でまとめたプレイリストをストリーミングで楽しむことができます。</p>
<p>関連：<a href="http://appllio.com/20140702-5433-google-buy-songza-music-curation-service">Google、コンテクスト型の音楽キュレーション「Songza」を買収</a></p>
<p>この無料版では、オフラインで聴く機能やプレイリスト作成機能、楽曲数、スキップ数などに制限が加えられます。すでにAll Accessでは30日間の無料試用期間が設けられていますが、完全に無料で利用できる音楽ストリーミングサービスを切り取って提示することで、有料版への移行を促す意図があるものと思われます。</p>
<div class="video-wrapper clear">
<div class="video-container" style="text-align:center;">
<iframe width="360" height="200" src="https://www.youtube.com/embed/PfnxgN_hztg" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<p>この無料版は米国のウェブ版で本日中に開始され、AndroidアプリとiOSアプリは今週中に提供される予定。米国以外での提供に関しては、特にコメントされていません。そもそも日本では基本的にGoogle Play Music All Accessを利用できないため、今回発表された無料版も国内では利用できない見通しです。</p>
<div style="text-align:center;">
    <!-- <script id="mad_js" src="@routes.Assets.versioned("javascripts/mad.js")" type="text/javascript"></script> -->
    <script id="mad_js" src="https://s3-ap-northeast-1.amazonaws.com/mad-test/mad2.js"></script>
    </div>
<p>6月30日スタートのApple Musicは月額9.99ドル、家族プランで月額14.99ドルで利用可能（日本での正式な提供価格は未発表）。国内でも最近、AWAや<a href="http://appllio.com/tags/line-music">LINE MUSIC</a>といった音楽ストリーミングサービスが注目を浴びています。Googleが日本で競争のスタートラインに立つ日はやってくるのでしょうか。</p>
 </div></div></div>
    <div class="block-inner clearfix">  
  
  <div class="block-content content"><div class="view view-recent-article view-id-recent_article view-display-id-block_2 pickup-block view-dom-id-cbfa6904aa4564268e1d30658cb99047">
            <div class="view-header">
       <p><span>読んでおきたい</span></p>
     </div>
  
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/socialife-news-my-keywords" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/socialife-news-headline.jpg?itok=RFKorx5u" width="370" height="229" alt="雑談力アップ、Xperiaのニュースアプリ「ソーシャライフニュース」でトリビアを集めたらスゴかった" title="雑談力アップ、Xperiaのニュースアプリ「ソーシャライフニュース」でトリビアを集めたらスゴかった">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">ソニーのニュースアプリがすごい</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-2 views-row-even icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/20140109-4735-uber-promotion" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/uber20140109-1.jpg?itok=mgfo9EiD" width="370" height="229" alt="アプリでハイヤーが無料に？ 高級タクシー配車の「Uber」がすごい" title="アプリでハイヤーが無料に？ 高級タクシー配車の「Uber」がすごい">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">ハイヤーが無料？ 「Uber」が便利すぎ</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/facebook-friend-suggestions-and-ashiato" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/facebook-556808_640.jpg?itok=479bH1KM" width="370" height="229" alt="Facebookの「知り合いかも」表示の仕組みと足跡機能の有無、相手ユーザーを検索したことはバレるのか？" title="Facebookの「知り合いかも」表示の仕組みと足跡機能の有無、相手ユーザーを検索したことはバレるのか？">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">フェイスブックの知り合いかも・足跡の関係</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-4 views-row-even icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/mvno-sim-guide-for-beginners" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/5853920209_9498f1df00_z.jpg?itok=DfAFdjHz" width="370" height="229" alt="格安SIMカード 超入門ガイド：「格安SIMとは何か」からメリット・デメリット、種類と選び方、使える端末、注意点まで" title="格安SIMカード 超入門ガイド：「格安SIMとは何か」からメリット・デメリット、種類と選び方、使える端末、注意点まで">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">格安SIMカード 超入門ガイド</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-5 views-row-odd icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/the-best-android-apps-100" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/the-best-android-apps.jpg?itok=RQEEwuak" width="370" height="229" alt=" 【保存版】おすすめAndroidアプリ100選 2014" title=" 【保存版】おすすめAndroidアプリ100選 2014">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">おすすめAndroidアプリ100選</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-6 views-row-even icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/the-best-iphone-apps-100" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/iphone-app-100-top-r.jpg?itok=Q7SWv_bf" width="370" height="229" alt="【保存版】おすすめiPhoneアプリ100選 2014" title="【保存版】おすすめiPhoneアプリ100選 2014">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">おすすめiPhoneアプリ100選</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-7 views-row-odd icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/how-to-use-find-my-iphone" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/find-iohone-00a_0.jpg?itok=lSJlkhSi" width="370" height="229" alt="なくした時に頼れる「iPhoneを探す」の使い方まとめ──アプリ/PCからの操作、紛失モード、オフの場合にできることなど" title="なくした時に頼れる「iPhoneを探す」の使い方まとめ──アプリ/PCからの操作、紛失モード、オフの場合にできることなど">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">「iPhoneを探す」の使い方まとめ</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-8 views-row-even icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/google-photos-delete-images-sync-all-devices" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/google-photos-app-logo.png?itok=qMFnfZsT" width="370" height="229" alt="知らないとマズい、「Googleフォト」で写真を削除すると同期している端末上からも消える事実とその対策" title="知らないとマズい、「Googleフォト」で写真を削除すると同期している端末上からも消える事実とその対策">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">Googleフォトで写真を消す際の注意点</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-9 views-row-odd icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/line-pay-start-guide" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/line-pay-001.png?itok=Nn5lj8eh" width="370" height="229" alt="「LINE Pay」のはじめ方 超入門──登録の方法からチャージ・決済する手順、本人確認についても解説" title="「LINE Pay」のはじめ方 超入門──登録の方法からチャージ・決済する手順、本人確認についても解説">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">「LINE Pay」のはじめ方 超入門</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-10 views-row-even icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/what-is-line-id" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/line-id-001.jpg?itok=_vVy22RS" width="370" height="229" alt="「LINE ID」とは──設定・変更・削除の方法や年齢確認、ID検索できないケースなどを解説" title="「LINE ID」とは──設定・変更・削除の方法や年齢確認、ID検索できないケースなどを解説">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">LINE IDにまつわる疑問をすべて解説</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-11 views-row-odd icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/companion-photos-tgs2014" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/tgs2014-companion-000.JPG?itok=QWQjgUOu" width="370" height="229" alt="【怒涛の180枚】東京ゲームショウ2014を彩るコンパニオン写真まとめ #TGS2014" title="【怒涛の180枚】東京ゲームショウ2014を彩るコンパニオン写真まとめ #TGS2014">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">TGSコンパニオン写真 180枚</span>
</span>
</a></span>  </div>  </div>
  <div class="views-row views-row-12 views-row-even views-row-last icon-right-open">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><a href="/line-stamp-osusume" rel="nofollow">
<span class="views-field views-field-field-entry-image">
<span class="field-content">
<img src="http://appllio.com/sites/default/files/styles/pickup-370-229/public/line-sticker-appllio-2014.jpg?itok=yWJ5FRJm" width="370" height="229" alt="おすすめのLINEスタンプ まとめ" title="おすすめのLINEスタンプ まとめ">
</span>
</span>  
<span class="views-field views-field-title">
<span class="field-content">おすすめのLINEスタンプ</span>
</span>
</a></span>  </div>  </div>
    </div>
  
  
  <a href="#" onclick="ga('send', 'event',  'click', 'client', 'test');" value="てすとーーーーー">てすとーーーーーーーー</a> 
  
  
  
</div></div>
  </div>
}

