@(message: String)

@main("Welcome to Play") {
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Music Times</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-full"><div class="field-items"><div class="field-item even"> <p style="text-align:center;"><img src="http://appllio.com/sites/default/files/styles/article-center/public/field/image/google-play-music-radio.png?itok=XUxEtniy" width="360" height="200" alt="Google Play Music" title="Google Play Music" class="image-article-center"></p>
<p><a href="http://appllio.com/google">Google</a>は23日、有料で提供している音楽配信サービスの一部機能を広告付きで無料公開することを発表しました。今月末に開始される<a href="http://appllio.com/tags/apple-music">Apple Music</a>に対抗します。</p>
<p>新たに無料公開されるのは、現在月額9.99ドルで利用できる「Google Play Music All Access」の中のラジオステーション機能。音楽の専門チームが楽曲をキュレーションし、ジャンルやムード、時代などの軸でまとめたプレイリストをストリーミングで楽しむことができます。</p>
<p>関連：<a href="http://appllio.com/20140702-5433-google-buy-songza-music-curation-service">Google、コンテクスト型の音楽キュレーション「Songza」を買収</a></p>
<p>この無料版では、オフラインで聴く機能やプレイリスト作成機能、楽曲数、スキップ数などに制限が加えられます。すでにAll Accessでは30日間の無料試用期間が設けられていますが、完全に無料で利用できる音楽ストリーミングサービスを切り取って提示することで、有料版への移行を促す意図があるものと思われます。</p>
<p>この無料版は米国のウェブ版で本日中に開始され、AndroidアプリとiOSアプリは今週中に提供される予定。米国以外での提供に関しては、特にコメントされていません。そもそも日本では基本的にGoogle Play Music All Accessを利用できないため、今回発表された無料版も国内では利用できない見通しです。</p>
<div class="video-wrapper clear">
<div class="video-container" style="text-align:center;">
<iframe width="360" height="200" src="https://www.youtube.com/embed/PfnxgN_hztg" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<p>6月30日スタートのApple Musicは月額9.99ドル、家族プランで月額14.99ドルで利用可能（日本での正式な提供価格は未発表）。国内でも最近、AWAや<a href="http://appllio.com/tags/line-music">LINE MUSIC</a>といった音楽ストリーミングサービスが注目を浴びています。Googleが日本で競争のスタートラインに立つ日はやってくるのでしょうか。</p>
 </div></div></div>
    <div style="text-align:center;">
    <script id="mad_js" src="@routes.Assets.versioned("javascripts/mad.js")" type="text/javascript"></script> 
    <!-- <script id="mad_js" src="https://s3-ap-northeast-1.amazonaws.com/mad-test/mad.js"></script> -->
    </div>
}

